---
import { getEntry } from 'astro:content'

import { PlaylistPlayer } from '../components/organisms/PlaylistPlayer'
import VideoSection from '../components/organisms/VideoSection.astro'
import Layout from '../layouts/Layout.astro'
import type { YouTubeVideoPlaylist } from '../types/video.types'

const contentEntry = await getEntry('pages', 'videos')
if (!contentEntry) throw new Error('Videos page content not found')

const videosEntry = await getEntry('videos', 'videos')
if (!videosEntry) throw new Error('Videos data not found')

const playlists = videosEntry.data.youTubeVideoPlaylists || []
---

<Layout title="Videos | Stephanie's Portfolio">
  <section class="section-wrapper">
    <h1 class="page-title">
      <span class="gradient-heading">{contentEntry.data.pageHeading}</span>
    </h1>
    {
      playlists.map((playlist: YouTubeVideoPlaylist) => (
        <VideoSection playlist={playlist}>
          <div class="mb-4">
            <PlaylistPlayer
              playlistUrl={playlist.url}
              orientation={playlist.orientation}
              title={playlist.heading}
              client:visible
            />
          </div>
        </VideoSection>
      ))
    }
  </section>
</Layout>
