---
import { Font } from 'astro:assets'
import { getEntry } from 'astro:content'
import { ClientRouter } from 'astro:transitions'

import '../styles/global.css'
import Footer from '../components/organisms/Footer.astro'
import Header from '../components/organisms/Header.astro'

interface Props {
  title?: string
  description?: string
}

const siteEntry = await getEntry('main', 'main')
if (!siteEntry) throw new Error('Site content not found')

const {
  title = siteEntry.data.title,
  description = siteEntry.data.description,
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <Font cssVariable="--font-heading" preload />
    <ClientRouter />
    <title>{title}</title>
  </head>
  <body class="antialiased bg-line">
    <Header
      links={siteEntry.data.nav}
      name={siteEntry.data.name}
      social={siteEntry.data.social}
    />

    <main class="isolate">
      <slot />
    </main>

    <Footer name={siteEntry.data.name ?? "Stephanie Rohr"} />
  </body>
</html>
